.footer{

  background-color: #1F1F1F;
  color: #DCDAD3;
  padding: 50px 50px 10px 60px;
}
.form-control{
  background-color: #1F1F1F;
  color: #DCDAD3;
}
.location{
  color: #434343;
}
::placeholder{
  color:#434343;
}
 svg{
  width: 20px;
}
.social-links a{
  text-decoration: none;
  color: #DCDAD3;
}




