<div class="footer">
  <div class="footer-header">
    <p>If You Need Expert Advice...</p>
    <h1>Please Contact Us</h1>
    <p>Fill Your Data and We will contact you Soon.</p>
  </div>
  <div class="form">
    <div class=" mb-3 col-md-6 col-sm-9">
      <input type="text" class="form-control rounded-5"  placeholder="Your Name">

    </div>
    <div class=" mb-3 col-md-6 col-sm-9">
      <input type="text" class="form-control rounded-5" placeholder="Phone Number">

    </div>
    <div class="col-md-6 col-sm-9">
      <input type="text" class="form-control rounded-5"  placeholder="Destination You Prefer..">

    </div>
    <div class="col-md-6 col-sm-9 mt-3 mb-3">
      <button type="submit" class="btn form-control bg-light rounded-5">submit</button>
    </div>
  </div>
  <div class="location">
    <small>Or You Can Visit Us At</small>
    <p>140, Street 3, From Akhnatoun st <br>
      Fifth District, Fifth Settlement </p>
  </div>
</div>
