<div class="d-flex flex-column align-items-center pb-3">

    <h3 class="py-3">TO SELL YOUR PROPERTY, FOLLOW THE STEPS</h3>
    <p class=" rounded-pill w-75 p-4 ps-0 bg-dark text-white"><span
            class="rounded-pill py-4 px-5 bg-body text-body m-0 ">Step1</span> List Your property
        Details, Add All The Information Related To your property
    </p>

    <p class=" rounded-pill w-75 p-4 ps-0 bg-dark text-white"><span
            class="rounded-pill px-5 py-4 bg-body text-body m-0">Step2</span> One Of Our Agents Will
        Call You Soon,We Will Help You Find The Best Buyer For Your Property
    </p>

    <p class=" rounded-pill w-75 p-4 ps-0 bg-dark text-white"><span
            class="rounded-pill px-5 py-4 bg-body text-body ">Step3</span> Meet With Serious
        Buyers,Final Step To Sell Your Property
    </p>

</div>


<form class="d-flex justify-content-center row  ">

    <h3 class="pb-3 pt-5 text-center">PLEASE COMPLETE THIS FORM</h3>

    <input type="text" class="my-2 col-5 rounded-pill py-3 bg-dark text-white" placeholder="Your Name"
        aria-label="Your Name">

    <input type="text" class="my-2 col-5  rounded-pill py-3  bg-dark text-white" placeholder="Phone Number"
        aria-label="Phone Number">


    <input type="text" class="my-2 col-5  rounded-pill p-3 bg-dark text-white" placeholder="Location"
        aria-label="Location">

    <input type="text" class="my-2 col-5  rounded-pill p-3 bg-dark text-white" placeholder="Compoud"
        aria-label="Compoud">

    <input type="text" class="my-2 col-10 rounded-pill p-3 bg-dark text-white" placeholder="Property Type"
        aria-label="Property Type">

    <input type="text" class="my-2 col-10 rounded-4 p-5 bg-dark text-white" placeholder="Property Description"
        aria-label="Property Description">

    <button class="btn btn-light rounded-pill col-3  my-3" type="submit">Submit</button>

</form>