
<div class="container my-5 w-100">
    <h3 class="text-center mb-4">TO SELL YOUR PROPERTY, FOLLOW THE STEPS</h3>
  
    <div class="step-wrapper">
      <div class="step-circle">Step 1</div>
      <div class="step-details">
        List Your Property Details,
        Add All The Information Related To Your Property
      </div>
    </div>
  
    <div class="step-wrapper ">
      <div class="step-circle">Step 2</div>
      <div class="step-details">
        One Of Our Agents Will Call You Soon,
        We Will Help You Find The Best Buyer For Your Property
      </div>
    </div>
  
    <div class="step-wrapper">
      <div class="step-circle">Step 3</div>
      <div class="step-details">
        Meet With Serious Buyers,
        Final Step To Sell Your Property
      </div>
    </div>


<form class="d-flex justify-content-center row" [formGroup]="clientform">

    <h3 class="pb-3 pt-5 text-center">PLEASE COMPLETE THIS FORM</h3>
    <div class="form-floating col-5  ">
        <input type="text" class="my-2 rounded-pill py-3 bg-dark text-white w-100" placeholder="Your Name"
            formControlName="cname" required>
        <div [hidden]="cname?.valid ||cname?.untouched ">
            <small class="alert alert-danger" *ngIf="cname?.errors?.['required']">
                Enter your Name please
            </small>
        </div>
    </div>

    <input type="text" class="my-2 col-5  rounded-pill py-3  bg-dark text-white" placeholder="Phone Number"
        formControlName="phonenumber" required>

    <input type="text" class="my-2 col-5  rounded-pill p-3 bg-dark text-white" placeholder="Location"
        formControlName="location">

    <input type="text" class="my-2 col-5  rounded-pill p-3 bg-dark text-white" placeholder="Compound"
        formControlName="Compound">

    <input type="text" class="my-2 col-10 rounded-pill p-3 bg-dark text-white" placeholder="Property Type"
        formControlName="PropertyType">

    <!-- <input type="text" class="my-2 col-10 rounded-4 p-5 bg-dark text-white" placeholder="Property Description"
    formControlName="Property Description"> -->
    <textarea formControlName="PropertyDescription" rows="5" placeholder="Property Description"
        class="my-2 col-10 rounded-4  bg-dark text-white"></textarea>

    <button class="btn btn-light rounded-pill col-3  my-3" [disabled]="clientform.invalid" (click)="showSuccess()" >Submit</button>


</form>
