<div class="container about-section">
  <h2>ABOUT DST</h2>
     <p >
      DST is shortcut for “Destinations” and our Slogan is “choosing the
      destination not the property” which is an affirmation that our focus is
      primarily on determining the most appropriate choice that meets the
      customer's requirements.
      </p>
      <p>
      From this we aim to provide the fastest and easiest way to buy a home and
      to simplify and improve the process of buying real estate. The company
      uses technology and innovations to provide a convenient and seamless
      buying experience for customers.
      </p>
      <p>
      We rely on an online platform that enables customers to view a wide list
      of properties available for sale, via the website. It allows customers to
      search for homes according to their needs and requirements, such as
      location, property space, and budget.
      </p>
      <p>
      At DST we provide you with interactive tools such as virtual tours, photos
      and home videos, helping customers get a clear idea of ownership without
      having to visit it in person.
      </p>
      <p>
      At DST, we aim to provide a personalized and customized service to each
      customer, where they have a dedicated team of professional real estate
      agents who assist customers around the clock and guide them through the
      purchase process.
      </p>
      <p>
      Using advanced technology and a comfortable user experience, we strive to
      transform the home purchase process into an easy and enjoyable customer
      experience, which saves time and effort and achieves customer
      satisfaction.
    </p>

</div>
