<div class="header">
  <header>
    <div class="header-image d-flex align-items-start flex-column"  [style.backgroundImage]="'url(' + imageUrl + ')'">
      <div class="h-50 w-100 p-4">
        <img src="assets/rawan-images/DSTLOGO.png" alt="">
      </div>
      <div class="text-white d-flex w-100 justify-content-center">
        <p class="">{{homepara}}</p>
      </div>
    </div>
    <nav class="p-4">
      <ul class="nav nav-tab justify-content-end ">
        <li class="nav-item">
          <a class="nav-link text-dark active" data-bs-toggle="tab"  routerLink="/">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" data-bs-toggle="tab"  routerLink="">destination</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" data-bs-toggle="tab"  routerLink="/about">about us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" data-bs-toggle="tab"  routerLink="/sell">sell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" data-bs-toggle="tab"  routerLink="/contuct">contuct us</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
