<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.scss">
    <title>Document</title>
</head>

<body>

    <div class="p-5 frist_section">



        <span class="fs-4 fw-bold ps-4 ">New Launches</span>



        <section class=" my-3">

            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="card rounded-5" style="width: 18rem;">
                        <img src="../../assets/images/salma-images/plage.svg" class="card-img-top rounded-5" alt="...">


                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card rounded-5" style="width: 18rem;">
                        <img src="../../assets/images/salma-images/mar bay.png" class="card-img-top rounded-5"
                            alt="...">

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card rounded-5" style="width: 18rem;">
                        <img src="../../assets/images/salma-images/safia.svg" class="card-img-top rounded-5" alt="...">

                    </div>

                </div>

                <div class="col-md-3">
                    <div class="card rounded-5" style="width: 18rem;">
                        <img src="../../assets/images/salma-images/summer.svg" class="card-img-top rounded-5" alt="...">

                    </div>

                </div>
            </div>
        </section>

        <span class="fs-4 fw-bold ps-4 "> Top Destinations</span>

        <section class="second_section my-4">
            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">New Cairo</h4>
                            <h6 class="fs-6 fw-medium  ">165+ Compounds</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">Mostakbal city</h4>
                            <h6 class="fs-6 fw-medium  ">30+ Compounds</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">October</h4>
                            <h6 class="fs-6 fw-medium  ">95+ Compounds</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">New Capictal</h4>
                            <h6 class="fs-6 fw-medium  ">115+ Compounds</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">North Coast</h4>
                            <h6 class="fs-6 fw-medium  ">25+ Compounds</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">Ain Sokhna</h4>
                            <h6 class="fs-6 fw-medium  ">45+ Compounds</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">Red Sea</h4>
                            <h6 class="fs-6 fw-medium  ">12+ Compounds</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">New Heliopolis</h4>
                            <h6 class="fs-6 fw-medium  ">2+ Compounds</h6>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <span class="fs-4 fw-bold ps-4 "> Recommendations</span>

        <section class="frist_section mt-3">

            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="card rounded-5 ">
                        <img src="../../assets/images/salma-images/Apartment - Taj city.svg" class="card-img-top "
                            alt="...">
                        <div class="card-body pb-0">
                            <h4 class="fs-5 fw-bold mb-1 ">Apartment - Taj city</h4>
                            <h6 class="fs-6 fw-medium  ">New Cairo</h6>

                            <h4 class="fs-5 fw-bold mb-1 ">9,400,00 EGP</h4>
                            <h6 class="fs-6 fw-medium  ">DM Downpayment/ 176,000 monthly /9 years</h6>

                        </div>

                        <div class="d-flex justify-content-around">
                            <div class="">
                                <img src="../../assets/images/salma-images/mdi_bed.svg"> <span
                                    class="fw-medium ms-1">3</span>
                                <h6>Bedrooms</h6>

                            </div>

                            <div class="">
                                <img src="../../assets/images/salma-images/fa-solid_bath.svg"> <span
                                    class="fw-medium ms-1">2</span>
                                <h6>Bathrooms</h6>

                            </div>

                            <div class="">
                                <img src="../../assets/images/salma-images/fluent_globe-surface-20-filled.svg"> <span
                                    class="fw-medium ms-1">160 m</span>
                                <h6>Area</h6>

                            </div>
                        </div>





                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-5 ">
                        <img src="../../assets/images/salma-images/Apartment - Taj city.svg" class="card-img-top "
                            alt="...">
                        <div class="card-body pb-0">
                            <h4 class="fs-5 fw-bold mb-1 ">Apartment - Taj city</h4>
                            <h6 class="fs-6 fw-medium  ">New Cairo</h6>

                            <h4 class="fs-5 fw-bold mb-1 ">9,400,00 EGP</h4>
                            <h6 class="fs-6 fw-medium  ">DM Downpayment/ 176,000 monthly /9 years</h6>

                        </div>

                        <div class="d-flex justify-content-around">
                            <div class="">
                                <img src="../../assets/images/salma-images/mdi_bed.svg"> <span
                                    class="fw-medium ms-1">3</span>
                                <h6>Bedrooms</h6>

                            </div>

                            <div class="">
                                <img src="../../assets/images/salma-images/fa-solid_bath.svg"> <span
                                    class="fw-medium ms-1">2</span>
                                <h6>Bathrooms</h6>

                            </div>

                            <div class="">
                                <img src="../../assets/images/salma-images/fluent_globe-surface-20-filled.svg"> <span
                                    class="fw-medium ms-1">160 m</span>
                                <h6>Area</h6>

                            </div>
                        </div>





                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-5 ">
                        <img src="../../assets/images/salma-images/Apartment - Taj city.svg" class="card-img-top "
                            alt="...">
                        <div class="card-body pb-0">
                            <h4 class="fs-5 fw-bold mb-1 ">Apartment - Taj city</h4>
                            <h6 class="fs-6 fw-medium  ">New Cairo</h6>

                            <h4 class="fs-5 fw-bold mb-1 ">9,400,00 EGP</h4>
                            <h6 class="fs-6 fw-medium  ">DM Downpayment/ 176,000 monthly /9 years</h6>

                        </div>

                        <div class="d-flex justify-content-around">
                            <div class="">
                                <img src="../../assets/images/salma-images/mdi_bed.svg"> <span
                                    class="fw-medium ms-1">3</span>
                                <h6>Bedrooms</h6>

                            </div>

                            <div class="">
                                <img src="../../assets/images/salma-images/fa-solid_bath.svg"> <span
                                    class="fw-medium ms-1">2</span>
                                <h6>Bathrooms</h6>

                            </div>

                            <div class="">
                                <img src="../../assets/images/salma-images/fluent_globe-surface-20-filled.svg"> <span
                                    class="fw-medium ms-1">160 m</span>
                                <h6>Area</h6>

                            </div>
                        </div>





                    </div>
                </div>

            </div>

        </section>


    </div>

</body>

</html>