

    <form  (ngSubmit)="onSearch()">
    <div class="search-property row">
        <div class="col-9 row">
          <div class=" mb-3 col-md-12 col-sm-12 form-group">
            <input type="text" class="form-control rounded-5" [(ngModel)]="searchCriteria.searchTerm" name="searchTerm"  placeholder="Search Location, Compound, Developer Name">

          </div>
          <div class="justify-content-between row">
            <div class=" mb-3 col-md-3 col-sm-4 form-group">
              <select id="propertyState" [(ngModel)]="searchCriteria.propertyType" class="form-select rounded-5" name="propertyType">
                <option selected value="">Property Type</option>
                <option value="Apartment">Apartment</option>
                <option value="Villa">Villa</option>
                <option value="Studio">Studio</option>
                <option value="Doplix">Doplix</option>
              </select>

            </div>
            <div class="col-md-3 col-sm-4 form-group mb-3">
              <select id="priceState" class="form-select rounded-5" [(ngModel)]="searchCriteria.priceRange" name="priceRange">
                <option selected value="">Price</option>
                <option value="50000-100000">50,000-100,000</option>
                <option value="100000-200000">100,000-200,000</option>
                <option value="200000-300000">200,000-300,000</option>
              </select>

            </div>
            <div class="col-md-3 col-sm-4 form-group">
              <select class="form-select rounded-5" [(ngModel)]="searchCriteria.bedroomNum" name="bedroomNum">
                <option selected value="">Bedrooms</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>

            </div>
          </div>
        </div>
        <div class="col-3 row">
          <div class="search-w mt-4 m-auto">
            <button type="submit" class="btn form-control rounded-5 "><svg class="icon-white"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></button>

        </div>
      </div>
    </div>
</form>
<div *ngIf="filteredProperties.length" class="card w-75 justify-content-center bg-dark text-white seach-div m-auto p-4">
    <h2 class="bg-info">Search Results</h2>
    <div *ngFor="let property of filteredProperties">
      <p>{{ property.location }} - {{ property.compound }} - {{ property.developerName }} -
         {{ property.propertyType }} - ${{ property.price }} -
         {{ property.bedrooms }} Bedrooms - {{ property.bathrooms }} Bathrooms
      </p>
    </div>
  </div>

  <!-- Message when no properties are found -->


  <div *ngIf="searchPerformed && !filteredProperties.length">
    <p class="text-center">No properties found matching your search criteria.</p>
  </div>


    <div class="p-5 ">

        <span class="fs-4 fw-bold ps-4 "> Top Partners</span>

        <section class="second_section my-4">
            <div class="row mb-3">
                <div class="col-md-3" >
                    <div class="card border border-dark rounded-5 mb-3 p-3 frist_section " style="width: 18rem;">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="../../assets/images/salma-images/madinet masr logo.svg" class="card-img-top rounded-5 w-75" alt="...">
                        </div>
                        <div class="text-start p-4">
                            <h6 class="fs-5 fw-bold mb-2 ">Madinet Masr</h6>
                            <h6 class="fs-6 fw-medium mb-1 ">64+ years of experience</h6>
                            <h6 class="fs-5 fw-bold mb-2 ">19+ Project Done</h6>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card border border-dark rounded-5 mb-3 py-5  frist_section " style="width: 18rem;">
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <img src="../../assets/images/salma-images/ahly sabbour logo.svg" class="card-img-top rounded-5 w-75" alt="...">
                        </div>
                        <div class="text-start pt-3 ps-4">
                            <h6 class="fs-5 fw-bold mb-2 ">Al Ahly Sabbour</h6>
                            <h6 class="fs-6 fw-medium mb-1 ">30+ years of experience</h6>
                            <h6 class="fs-5 fw-bold mb-2 ">59+ Projects Done</h6>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border border-dark rounded-5 mb-3 py-5  frist_section " style="width: 18rem;">
                        <div class="d-flex align-items-center justify-content-center mt-3 mb-4">
                            <img src="../../assets/images/salma-images/il cazar logo.svg" class="card-img-top rounded-5 w-75" alt="...">
                        </div>
                        <div class="text-start py-3 ps-4">
                            <h6 class="fs-5 fw-bold mb-2 ">Il Cazar</h6>
                            <h6 class="fs-6 fw-medium mb-1 ">63+ years of experience</h6>
                            <h6 class="fs-5 fw-bold mb-2 ">9+ Project Done</h6>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card border border-dark rounded-5 mb-3 p-3 frist_section " style="width: 18rem;">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="../../assets/images/salma-images/SED LOGO.svg" class="card-img-top rounded-5 w-75" alt="...">
                        </div>
                        <div class="text-start p-3">
                            <h6 class="fs-5 fw-bold mb-2 ">Saudi Egyptian</h6>
                            <h6 class="fs-6 fw-medium mb-1 ">45+ years of experience</h6>
                            <h6 class="fs-5 fw-bold mb-1 ">25+ Project Done</h6>

                        </div>
                    </div>
                </div>
            </div>
        </section>



      </div>


    <div class="p-5 frist_section">



        <span class="fs-4 fw-bold ps-4 ">New Launches</span>



        <section class=" my-3">

            <div class="row mb-3">
                <div class="col-md-3"  *ngFor="let launch of newLaunches">
                    <div class="card rounded-5 mb-3" style="width: 18rem;">
                        <img [src]="launch.image" class="card-img-top rounded-5" alt="...">


                    </div>
                </div>
            </div>
        </section>

        <span class="fs-4 fw-bold ps-4 "> Top Destinations</span>

        <section class="second_section my-4">
            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5 mb-3" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">New Cairo</h4>
                            <h6 class="fs-6 fw-medium  ">165+ Compounds</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5 mb-3" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">Mostakbal city</h4>
                            <h6 class="fs-6 fw-medium  ">30+ Compounds</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5 mb-3" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">October</h4>
                            <h6 class="fs-6 fw-medium  ">95+ Compounds</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5 mb-3" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">New Capictal</h4>
                            <h6 class="fs-6 fw-medium  ">115+ Compounds</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5 mb-3" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">North Coast</h4>
                            <h6 class="fs-6 fw-medium  ">25+ Compounds</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5 mb-3" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">Ain Sokhna</h4>
                            <h6 class="fs-6 fw-medium  ">45+ Compounds</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5 mb-3" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">Red Sea</h4>
                            <h6 class="fs-6 fw-medium  ">12+ Compounds</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-b border border-dark rounded-5 mb-3" style="width: 18rem;">
                        <div class="text-center  py-5">
                            <h4 class="fs-4 fw-bold mb-4 ">New Heliopolis</h4>
                            <h6 class="fs-6 fw-medium  ">2+ Compounds</h6>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <span class="fs-4 fw-bold ps-4 "> Recommendations</span>

        <section class="frist_section mt-3">

            <div class="row mb-3">
                <div class="col-md-4" *ngFor="let developer of developers" >
                    <div class="card rounded-5 mb-3 card-b ">
                        <img [src]="developer.logo" class="card-img-top "
                            alt="...">
                        <div class="card-body pb-0">
                            <h4 class="fs-5 fw-bold mb-1 ">{{developer.description}}</h4>
                            <h6 class="fs-6 fw-medium  ">{{developer.name}}</h6>

                            <h4 class="fs-5 fw-bold mb-1 ">{{developer.money}}</h4>
                            <h6 class="fs-6 fw-medium  ">{{developer.title}}</h6>

                        </div>

                        <div class="d-flex justify-content-around">
                            <div class="">
                                <img src="../../assets/images/salma-images/mdi_bed.svg"> <span
                                    class="fw-medium ms-1">3</span>
                                <h6>Bedrooms</h6>

                            </div>

                            <div class="">
                                <img src="../../assets/images/salma-images/fa-solid_bath.svg"> <span
                                    class="fw-medium ms-1">2</span>
                                <h6>Bathrooms</h6>

                            </div>

                            <div class="">
                                <img src="../../assets/images/salma-images/fluent_globe-surface-20-filled.svg"> <span
                                    class="fw-medium ms-1">160 m</span>
                                <h6>Area</h6>

                            </div>
                        </div>





                    </div>
                </div>


            </div>

        </section>


    </div>

